extends layout

block content
    .outerWelcomeBox
        .welcomeBox
                img(class="logo" src="/img/logo3.svg")
                p.tagline your computerized recipe book
                a.primary-btn.authBtn(href='/login') Sign In
                br
                a.primary-btn.createBtn(href='/register') Create Account