doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title CTRL &#62; ALT &#62; EAT
        link(href="/stylesheets/style.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet")
    body
        block content

        //footer
        p.footer An Osborne Project