* {
    box-sizing: border-box;
} 
html {
    min-height: 100%;
    position: relative;
}
h1, h2, h3 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background: url('../img/bg2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', 'Helvetica-neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    max-width: 100%;
    margin: 0 auto;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    height: 85px;
    margin: 0 auto;
}
.recipeList {
    width: 49%;
    padding: 15px;
    margin: 0 0 15px 0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.95);
    background-clip: padding-box;
    border: 3px solid transparent;
    color: #291709;
}
.recipeList:hover {
    border: 3px solid #FB8030;
}
.singleViewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleDescriptionBlock h1 {
    margin-bottom: 5px;
}
.recDescription {
    margin: 0;
}
.recImage img{
    width: 100%;
    height: 250px;
    background-color: #fff;
    object-fit: cover;
} 
.recTitle {
    margin: 15px 0 0 0;
}
.mainContent {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 105px auto 55px auto;
}
.nav {
    display: flex;
    justify-content: space-between;
}

.btnCreateNewRecipe,
.btnLogOut {
    font-family: 'Quicksand';
    background: transparent;
    text-align: center;
    color: #2a1a10;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    font-size: 1.05em;
    font-weight: 300;
    transition: .3s;
}
.btnCreateNewRecipe:hover,
.btnLogOut:hover {
    color: #FB8030;
    transition: .3s;
}
.btnShowAll {
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    text-rendering: auto;
}
.singleViewBtnContainer {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}
.btnSingleViewHeader {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: #9a9a9a;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    cursor: pointer;
}
.profile {
    background: rgba(255, 255, 255, 0.95);
    height: 85px;
    border-bottom: 1px solid #777777;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.searchTitles {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.7);
    width: 275px;
    height: 37px;
    border: 1px solid #7a7a7a;
    border-radius: 3px;
    font-size: .9em;
    padding: 8px;
}
.searchTitles::placeholder {
    font-style: italic;
    color: #7a7a7a;
    font-weight: 300;
}
.logo {
    padding: 25px 0 5px 0;
    width: 280px;
}
.tagline {
    margin-top: 0;
    font-style: italic;
}
.welcomeBox,
.welcomeBoxLogin {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 2px solid #291709;
    width: 550px;
    height: 372px;
    padding: 20px;
    text-align: center;
}
.outerWelcomeBox,
.outerWelcomeBoxLogin {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    right: 50%;
    width: 580px;
    height: 402px;
	transform: translate(50%, -50%);
}
.welcomeBoxLogin {
    height: 340px;
}
.outerWelcomeBoxLogin {
    height: 360px;
}
.primary-btn{
    display: block;
    font-family: 'Quicksand';
    width: 335px;
    border-radius: 3px;
    font-size: 1.1em;
    text-decoration: none;
    color: #291709;
    border: 1px solid #291709; 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    transition: background-color .3s;
}
.primary-btn:focus {
    outline: none;
}
.primary-btn:hover {
    background-color: #3de08e;
    transition: .3s;
}
.authBtn {
    background-color: #67e8b1; 
    margin-top: 35px;
}
.createBtn {
    margin-top: -5px;
    background-color: transparent;
}
.authBtn,
.createBtn {
    padding-top: 2px;
    padding-bottom: 3px;
}
.footer {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-transform: uppercase;
    color: #fff;
    padding: 3px 11px;
    border-radius: 11px;
    bottom: 10px;
    font-size: .8em;
    word-spacing: 2px;
}
.formGroup label {
    display: block;
    text-align: left;
    margin-bottom: -5px;
    padding-left: 8px;
}

.form-control,
.create-form-control,
.area-form-control {
    font-family: 'Quicksand';
    width: 360px;
    height: 35px;
    padding: 8px;
    display: block;
    border-radius: 4px;
    border: 1px solid #a4a4a4;
    margin: 12px auto;
    font-size: 1em;
}
.form-control::placeholder,
.create-form-control::placeholder,
.area-form-control::placeholder {
    font-style: italic;
    color: #b7b7b7;
    font-weight: 300;
}
.area-form-control,
.create-form-control {
     width: 100%; 
}
.area-form-control {
    height: initial;
    line-height: 1.5;
}
.groupCreate {
    font-family: 'Oswald';
    width: 100%;
    margin: 15px auto;
}
#create-form {
    margin-top: 40px;
} 
.loginForm {
    margin-top: 25px;
}
.loginBtn {
    background-color: #67e8b1;
    font-weight: 300;
    width: 360px;
}
.outerSignUpBox {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    right: 50%;
    width: 580px;
    height: 600px;
	transform: translate(50%, -50%);
}
.innerSignUpBox {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 2px solid #291709;
    width: 550px;
    height: 570px;
    padding: 20px;
    text-align: center;
}
.registerBtn {
    margin-top: 35px;
}
.signUpForm {
    width: 360px;
    margin: 35px auto 5px auto; 
}
.listLogo {
    margin-right: auto;
    width: 210px;
}
.listLogo img {
    vertical-align: middle;
}

.fullViewWrapper {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    margin-bottom: 35px;
    color: #291709;
    width: 100%;
}
.createNewInnerWrapper {
    width: 75%;
    margin: 55px auto 35px;
}
.createNewHeaderInfo {
    background-color: #67e8b1;
    padding: 35px;
    text-align: center;
    border-radius: 4px;
}
.createNewHeaderInfo h1 {
    margin-top: 0;
}
.placeHolder img {
    width: 100%;
    height: 500px;
    background-color: #fff;
    object-fit: cover;
}  
.custom-file-input {
    color: transparent; 
    width: 40px;
    height: 40px;
}
#uploadForm {
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    height: 38px;
    width: 38px;
    line-height: 38px;
    content: '\f03e';
    text-align: center;
    font-family: FontAwesome;
    color: #9a9a9a;
    display: inline-block;
    background: transparent;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    outline: none;
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:focus {
    outline: none;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #CFC3A9, #4C422E, #CFC3A9);
    margin: 0;
}
.descriptionFullView {
    margin: 0 0 1.25em 0;
}
.titleDescriptionBlock {
    padding-right: 15px;
} 
.createNewButtonGrp {
    text-align: center;
    padding: 20px; 
    margin: 35px 0 0 0;
}
.createNewButtonGrp button {
    margin: 0 10px;
    width: 200px;
}
.btnSaveNewRecipe {
    background-color: #67e8b1; 
}
.showCarriageReturns {
    margin: 0 0 1.25em 0;
    white-space: pre-wrap;
    line-height: 1.5;
}
.fullViewWrapper h2,
.titleDescriptionBlock h1 {
    margin-bottom: 5px;
    padding-top: 20px;
}
#demo-button {
    margin-top: -5px;
}
@media(max-width: 769px) {
    .outerWelcomeBox {
        width: 325px;
        height: 372px;
    }
    .welcomeBox {
        width: 295px;
        height: 342px;
    }
    .outerWelcomeBoxLogin {
        height: 330px;
    }
    .welcomeBoxLogin {
        height: 300px;
    }
    .outerSignUpBox {
        width: 325px;
    }
    .innerSignUpBox {
        width: 295px;
    }
    .signUpForm {
        width: 251px;
    }
    .formGroup label {
        margin-left: 16px;
    }
    .authBtn,
    #demo-button,
    .createBtn,
    .loginBtn,
    .loginEmail,
    .loginPassword,
    .form-control {
        width: 220px;
    }
    .loginEmail,
    .loginPassword {
        font-size: .9em;
    }
    .logo {
        width: 220px;
    }
    .profile {
        height: 115px;
    }
    .listLogo {
        width: 185px;
        margin-left: auto;
        padding-top: 10px;
    }
    .tagline {
        font-size: .85em;
    }
    .mainContent {
        margin-top: 135px;
        justify-content: space-around;
    }
    .recipeList {
        width: 100%;
    }
    .headerContainer {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .placeHolder img {
        height: 250px;
    }
}

@media(max-width: 1200px) {
    .headerContainer,
    .mainContent {
        width: 95%;
    }
}